body {
  font-family: "Poppins", sans-serif;
}

.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #a09f9f;
  border-radius: 20px;
}

h1 {
  color: #303030;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #636060;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
