body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #303030;
  font-size: 36px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
  position: relative;
  right: 12px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #636060;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

.github-link {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 40px;
  border: 1px solid #a09f9f;
  border-radius: 20px;
}

#week-day {
  color: #636060; 
}


.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature {
  margin-right: 10px;
}

.units {
  font-size: 14px;
}

#temperature {
  font-size: 62px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  top: -36px;
}

.weather-temperature .active {
  color: #303030;
  cursor: default;
}

.search-button {
  position: relative;
  right: 10px;
}

.current-location-button {
  position: relative;
  right: 10px;
  background-color: rgb(34, 168, 34);
  border: rgb(34, 168, 34);
}

.top-bar {
  position: relative;
  right: 15px;
}

.weather-info {
  position: relative;
  right: 10px;
}

.weather-forecast {
  color: #636060;
  margin-top: 50px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px; 
}

.weather-forecast-temperature {
  font-size: 15px;
}
                                  
.weather-forecast-temperature-min {
  opacity: 0.6;
}